#chartContainer {
    background-color: #f5f5f5;
    width: 50%;
    height: 50%;
    margin-left: 1%;
    position: relative;
}

#customRange3 {
    margin-left: 1%;
    width: 60%;
}

#site-title {
    margin-left: 1%;
    margin-top: 1%;
}

.form-label {
    margin-left: 1%;
}
